
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color:  #333;
    background-color: gainsboro;
    padding: 10px;
    }

    header {
    text-align: center;
    font-size: 30px;
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
    border: 10px;
    border-radius: 10px;
    }

    .header p{
        font-style: italic;

    }
    nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius:10px;
    }
    .contact{
        color:darkmagenta;
    }
    nav a {
        
        color: black;
        text-decoration: none;
        margin: 15px;
        font-weight: bold;
        font-size: 35px;
    }
    nav a:hover {
    color: green;
    }
    .about {
        padding: 20px;
        box-shadow: 5px agba;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 15px;
        font-size: 35px;
    }
    .about ul {
        list-style-type: disc;
        margin-left: 20px;
        font-size: 30px;
        
    }
    .about{
        color: black;
        text-decoration: none;
        
    }
     
    .facebook{
        color: black;
    }
    .about a:hover {
        text-decoration: underline;
    }
    .skills {
        background-color: #e9ecef;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .skill ul {
        list-style-type: square;
        padding-left: 20px;
        font-size: 25px;
        color: blue;
    }

    .skill h2{
        font-size: 60px;
        color: black;
    }
      
    .projects {
        background-color: white;
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        font-size: 20px;
    }
    blockquote {
        font-style: italics;
        font-size: 20px;
        margin: 10px 20px;
        padding: 10px;
        background-color: #f8f9fa;
        border-left: 4px solid #007bff;
    }

    form label {
        font-weight: bold;
        font-size: 30px;
    }
    form imput , textarea {
        width: 100%;
        padding: 10px;
        margin: 10px;
        border: 5px solid #ddd;
        border-radius: 15px;
    }
    button {
        display: block;
        margin: auto;
        color: white;
        background-color: blue;
        height: 50px;
        width: 90px;
        cursor: pointer;
    }
    button:hover {
        color: green;
        text-decoration: underline;
    }

    address{
        font-size: 30px;
        text-decoration-color: black;
        color: black;
    }
    .copyright {
        background: black;
        color: white;
        padding: 20px;
        margin-top: 70;
        background-color: black;
        font-size: 20px;
        color: green;
        font-style: italic;
        border-radius: 10px;
    }

    @media (max-width: 768px) 
       body{
            padding: 10px;
            background-color: pink;

        }
        header{
            padding: 15px;
        }
        nav{
            flex-direction: column;
            text-align: center;
        }
            nav a {
                margin: 5px 0 ;

            }
            .about  .skill, .project{
                padding: 15px;
                font-size: 90%;
                
        }

            footer{
                font-size: 90;


        }
    